body{
    padding:0px;
    margin: 0px;
    font-family:"jost",sans-serif;
}
h1,h2,h3,p,ul{
    padding:0px;
    margin: 0px;
}
ul{
    list-style: none;
}
a{
    display:inline-block;
    text-decoration: none;
}
span{
    color:#6278B4;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
}
.header{
    padding-top: 32px;
    padding-bottom: 27px;
    background-color: #DDF9FF;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    gap:64px;
    display: flex;
}
.header-link{
    font-weight: 700;
    size: 24px;
    color: #3A2E2E;
}
.hero{
    background-color: #DDF9FF;
    padding-bottom: 48px;
}
.hero-container{
    display: flex;
    align-items: center;
    gap: 57px;
}
.hero-subtitle{
    color:#6278B4;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.hero-title{
    font-size: 48px;
    font-weight: 700;
    color:#3A2E2E;
    line-height: 1.03;
    margin-bottom: 16px;
}
.hero-text{
    font-size:20px;
    font-weight: 500;
    line-height: 1.53;
    margin-bottom: 32px;
}
.hero-link{
    font-size:20px;
    font-weight: 900;
    line-height: 1.53;
    color: #FFFFFF;
    padding: 16px 22px;
    background-color: #6278B4;
    border-radius: 30px;
    box-shadow: 0px 4px 10px 0px #00000040;
}
.services{
    padding-top:24px ;
    padding-top:52px ;
}
.services-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color:#3A2E2E;
    margin-bottom: 18px;
}
.services-title::after{
    content: '';
    display: flex;
    width: 351px;
    height: 4px;
    background-color: #6278B4;
    margin: 18px auto 47px;
}

.services-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 57px;
}
.services-item{
    max-width: 300px;
    display: flex;
    gap: 15px;
}
.services-image{
    width: 49px ;
    height: 49px ;
}

.question{
    background-color: #DDF9FF;
    padding-top: 32px;
    padding-bottom: 32px;
}
.question-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-title{
    font-size: 48px;
    color: #6278B4;
    font-weight: 900;
}
.question-text{
    max-width: 294px;
    font-weight: 500;
}

.specialists{
    padding-top: 32px;
    padding-bottom: 64px;
}
.specialists-container{
    margin: auto;
}


.specialists-title{
    text-align: center;
    font-weight: 600;
    font-size: 48px;

}

.specialists-title::after{
    content: '';
    display: flex;
    width: 351px;
    height: 4px;
    background-color: #6278B4;
    margin: 18px auto 47px;
}



.specialists-list{
    display:flex;
    justify-content: space-between;
}
.specialists-item::after{
    content: '';
    display: flex;
    width: 224px;
    height: 4px;
    background-color: #3A2E2E;
    margin: 18px auto 47px;
}

.specialists-name{
    font-size: 32px;
    text-align: center;
}




.footer{
    background-color: #535353;
    padding: 32px 0px 73px;
}
.footer-img{
    padding-bottom: 28px;
}


.footer-title{
    margin: 18px  auto 47px ;
    border-top: 4px solid #6278B4 ;
    color: #3A2E2E;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}


.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-link{
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}
.footer-item{
    display: flex;
    gap: 22px;
}